.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  /* background-color: #282c34; */
  background-color: #0B101B;
  background-image: url('./assets/Swirl.png');
  background-position-x: center;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav{
  background-color: #0B101B;
  backdrop-filter: blur(30px);
  /* padding: 50%; */
}
.header{
  margin-top: 40px;
}
.h_text{
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(
    to right, #144EE3, #EB568E,
     #A353AA, #144EE3);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.nav_style{
  padding: 20px;
  
}
.subheading{
  font-size: 18px;
  font-weight: lighter;
}
.input_box{
  width: 70%;
  max-width: 600px;
  padding-top: 40px; 
  margin-left: auto;
  margin-right: auto;
}
.input_item{
  /* border: 20px #353C4A; */
  
  /* border-radius: 50%; */
}


